.form {
  display: flex;
}

.form .inputForm input{
  width: 100%;
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #c5f6fa;
  margin-bottom: 10px;
}

.create-button {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  display: table;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.create-button div{
  top: 50%;
  margin-top: -50%;
  display: table-cell;
  vertical-align: middle;
}

.create-button:hover {
  background: #3bc9db;
}